/* cores da identidade visual do TEIA CRM */
$verde-color: #8CC384;
$azul-color: #4356A1;
$azul2-color: #58ABDF;
$azur3-color: #628DC7;
$azul4-color: #2B53A0;
$roxo-color: #5D54A0;

/* Class com cores */
.teiacolor-0 {
    color: $verde-color;
}
.teiacolor-1 {
    color: $azul-color;
}
.teiacolor-2 {
    color: $azul2-color;
}
.teiacolor-3 {
    color: $azur3-color;
}
.teiacolor-4 {
    color: $azul4-color;
}
.teiacolor-5 {
    color: $roxo-color;
}
span.teiacolor-0 {
    color: $verde-color;
}