/* cores da identidade visual do TEIA CRM */
/* Class com cores */
.teiacolor-red {
  color: #d12c2c;
}

.teiacolor-0 {
  color: #5fcc96;
}

.teiacolor-1 {
  color: #4356A1;
}

.teiacolor-2 {
  color: #58ABDF;
}

.teiacolor-3 {
  color: #628DC7;
}

.teiacolor-4 {
  color: #2B53A0;
}

.teiacolor-5 {
  color: #5D54A0;
}

span.teiacolor-0 {
  color: #5fcc96;
}

.cinza-text {
  color: #696969;
}

.background-red {
  background-color: #d12c2c;
  /* border-radius: 5px; */
}
